extends base.pug
block append head
  link(rel="stylesheet" href="/trumbowyg/dist/ui/trumbowyg.min.css")
block content
  .col-sm-12(style="margin-bottom:40px")
    form(method="post" id="calendar-form" data-toggle="validator")
      .form-group
        label(for="startDateTime") Start date/time
        input.form-control.datetimepicker(type="text" name="startTimeDate" id="startTimeDate" required)
        .help-block.with-errors
      .form-group
        label(for="endTimeDate") End date/time
        input.form-control.datetimepicker(type="text" name="endTimeDate" id="endTimeDate" required)
        .help-block.with-errors
      .form-group
        label(for="eventName") Event name 
        textarea.form-control(type="text" name="eventName" id="eventName" required) #{row.event_name}
        .help-block.with-errors
      .form-group
        label(for="eventDescription") Event description/details
        textarea.form-control(type="text" name="eventDescription" id="eventDescription") #{row.event_description_details}
      .panel.panel-primary
        .panel-heading Location
        .panel-body
          .form-group
            label(for="locationName") Location name
            input.form-control(type="text" name="locationName" id="locationName" value=row.location_name)
          .form-group
            label(for="street") Street
            input.form-control(type="text" name="street" id="street" value=JSON.parse(row.location.human_address).address)
          .form-group
            label(for="city") City
            input.form-control(type="text" name="city" id="city" value=JSON.parse(row.location.human_address).city)
          .form-group
            label(for="state") State
            select.form-control(name="state" id="state")
              option(value='AL') AL
              option(value='AK') AK
              option(value='AZ') AZ
              option(value='AR') AR
              option(value='CA') CA
              option(value='CO') CO
              option(value='CT') CT
              option(value='DE') DE
              option(value='DC') DC
              option(value='FL') FL
              option(value='GA') GA
              option(value='HI') HI
              option(value='ID') ID
              option(value='IL') IL
              option(value='IN') IN
              option(value='IA') IA
              option(value='KS') KS
              option(value='KY') KY
              option(value='LA') LA
              option(value='ME') ME
              option(value='MD') MD
              option(value='MA') MA
              option(value='MI') MI
              option(value='MN') MN
              option(value='MS') MS
              option(value='MO') MO
              option(value='MT') MT
              option(value='NE') NE
              option(value='NV') NV
              option(value='NH') NH
              option(value='NJ') NJ
              option(value='NM') NM
              option(value='NY') NY
              option(value='NC') NC
              option(value='ND') ND
              option(value='OH') OH
              option(value='OK') OK
              option(value='OR') OR
              option(value='PA') PA
              option(value='RI') RI
              option(value='SC') SC
              option(value='SD') SD
              option(value='TN') TN
              option(value='TX') TX
              option(value='UT') UT
              option(value='VT') VT
              option(value='VA') VA
              option(value='WA' selected="selected") WA
              option(value='WV') WV
              option(value='WI') WI
              option(value='WY') WY
          .form-group
            label(for="zip") Zip
            input.form-control(type="text" name="zip" id="zip" value=JSON.parse(row.location.human_address).zip)
      .panel.panel-primary
        .panel-heading URL
        .panel-body
          .form-group
            label(for="linkUrl") Link URL
            input.form-control(type="text" name="linkUrl" id="linkUrl" required value=row.url)
            .help-block.with-errors
      .panel.panel-primary
        .panel-heading Contact information
        .panel-body
          .form-group
            label(for="contactName") Name
            input.form-control(type="text" name="contactName" id="contactName" value=row.contact_name)
          .form-group
            label(for="contactEmail") Email
            input.form-control(type="text" name="contactEmail" id="contactEmail" value=row.contact_email)
          .form-group
            label(for="contactPhone") Phone
            input.form-control(type="text" name="contactPhone" id="contactPhone" value=row.phone)
      .form-group
        label(for="contactDept") Host/Contact Department
        input.form-control(type="text" name="contactDept" id="contactDept" value=row.host_contact_department)
      .form-group
        label(for="feedKeywords") Feed Keyword(s)
        input.form-control(type="text" name="feedKeywords" id="feedKeywords" value=row.feed_keyword_s)
      .checkbox.form-group
        label(for="displayOnHomePage" title="Display on Home Page")
          input(type="checkbox" id="displayOnHomePage" name="displayOnHomePage" checked=row.display_on_kc_home_page)
          | Display on KC home page
      .form-group.panel.panel-primary
        .panel-heading Categories
        .panel-body
          .row
            .col-sm-6
              .checkbox
                label(for="categoryArtsCulture" title="Arts and Culture")
                  input(type="checkbox" id="categoryArtsCulture" name="categoryArtsCulture" checked=row.arts_culture)
                  | Arts and culture
              .checkbox
                label(for="categoryBenefits" title="Benefits")
                  input(type="checkbox" id="categoryBenefits" name="categoryBenefits")
                  | Benefits 
              .checkbox
                label(for="categoryBestStarts" title="Best Starts for Kids")
                  input(type="checkbox" id="categoryBestStarts" name="categoryBestStarts" checked=row.best_starts_for_kids)
                  | Best Starts for Kids
              .checkbox
                label(for="categoryBusiness" title="Business")
                  input(type="checkbox" id="categoryBusiness" name="categoryBusiness" checked=row.business)
                  | Business
              .checkbox
                label(for="categoryClosure" title="Closure")
                  input(type="checkbox" id="categoryClosure" name="categoryClosure" checked=row.closure)
                  | Closure
              .checkbox
                label(for="categoryCouncil" title="Council")
                  input(type="checkbox" id="categoryCouncil" name="categoryCouncil" checked=row.council)
                  | Council
              .checkbox
                label(for="categoryCourts" title="Courts")
                  input(type="checkbox" id="categoryCourts" name="categoryCourts" checked=row.courts)
                  | Courts
              .checkbox
                label(for="categoryElections" title="Elections")
                  input(type="checkbox" id="categoryElections" name="categoryElections" checked=row.elections)
                  | Elections
              .checkbox
                label(for="categoryEmergency" title="Emergency")
                  input(type="checkbox" id="categoryEmergency" name="categoryEmergency" checked=row.emergency)
                  | Emergency
              .checkbox
                label(for="categoryEmployees" title="Employees")
                  input(type="checkbox" id="categoryEmployees" name="categoryEmployees" checked=row.employees)
                  | Employees
              .checkbox
                label(for="categoryEnvironment" title="Environment")
                  input(type="checkbox" id="categoryEnvironment" name="categoryEnvironment" checked=row.environment)
                  | Environment
              .checkbox
                label(for="categoryEvents" title="Events")
                  input(type="checkbox" id="categoryEvents" name="categoryEvents" checked=row.events)
                  | Events
              .checkbox
                label(for="categoryExecutive" title="Executive")
                  input(type="checkbox" id="categoryExecutive" name="categoryExecutive" checked=row.executive)
                  | Executive
              .checkbox
                label(for="categoryHealth" title="Health")
                  input(type="checkbox" id="categoryHealth" name="categoryHealth" checked=row.health)
                  | Health
              .checkbox
                label(for="categoryJails" title="Jails")
                  input(type="checkbox" id="categoryJails" name="categoryJails" checked=row.jails)
                  | Jails
              .checkbox
                label(for="categoryLicenses" title="Licenses")
                  input(type="checkbox" id="categoryLicenses" name="categoryLicenses" checked=row.licenses)
                  | Licenses
              .checkbox
                label(for="categoryNews" title="News")
                  input(type="checkbox" id="categoryNews" name="categoryNews" checked=row.news)
                  | News
              .checkbox
                label(for="categoryOperations" title="Operations")
                  input(type="checkbox" id="categoryOperations" name="categoryOperations" checked=row.operations)
                  | Operations
              .checkbox
                label(for="categoryParks" title="Parks")
                  input(type="checkbox" id="categoryParks" name="categoryParks" checked=row.parks)
                  | Parks
              .checkbox
                label(for="categoryPermits" title="Permits")
                  input(type="checkbox" id="categoryPermits" name="categoryPermits" checked=row.permits)
                  | Permits
              .checkbox
                label(for="categoryPets" title="Pets")
                  input(type="checkbox" id="categoryPets" name="categoryPets" checked=row.pets)
                  | Pets
              .checkbox
                label(for="categoryProperty" title="Property")
                  input(type="checkbox" id="categoryProperty" name="categoryProperty" checked=row.property)
                  | Property
              .checkbox
                label(for="categoryRecreation" title="Recreation")
                  input(type="checkbox" id="categoryRecreation" name="categoryRecreation" checked=row.recreation)
                  | Recreation
            .col-sm-6
              .checkbox
                label(for="categoryRecyclingTrash" title="Recycling and trash")
                  input(type="checkbox" id="categoryRecyclingTrash" name="categoryRecyclingTrash" checked=row.recycling_trash)
                  | Recycling and trash
              div(style="margin-left: 40px")
                .checkbox
                  label(for="categorySolidWasteHome" title="Solid Waste home page")
                    input(type="checkbox" id="categorySolidWasteHome" name="categorySolidWasteHome" checked=row.swd_home)
                    | Solid Waste home page
                .checkbox
                  label(for="categorySolidWasteAdvisory" title="Solid Waste Advisory Committee")
                    input(type="checkbox" id="categorySolidWasteAdvisory" name="categorySolidWasteAdvisory" checked=row.swd_advisory_committee)
                    | Solid Waste Advisory Committee
                .checkbox
                  label(for="categorySolidWasteEcoConsumer" title="EcoConsumer")
                    input(type="checkbox" id="categorySolidWasteEcoConsumer" name="categorySolidWasteEcoConsumer" checked=row.swd_ecoconsumer)
                    | EcoConsumer
                .checkbox
                  label(for="categorySolidWasteFacilities" title="Solid Waste Facilities")
                    input(type="checkbox" id="categorySolidWasteFacilities" name="categorySolidWasteFacilities" checked=row.swd_facilities)
                    | Solid Waste facilities
                .checkbox
                  label(for="categorySolidWasteGreenTools" title="Green Tools")
                    input(type="checkbox" id="categorySolidWasteGreenTools" name="categorySolidWasteGreenTools" checked=row.swd_greentools)
                    | Green Tools
                .checkbox
                  label(for="categorySolidWasteRecyclingEvents" title="Recycling Events")
                    input(type="checkbox" id="categorySolidWasteRecyclingEvents" name="categorySolidWasteRecyclingEvents" checked=row.swd_recycling_collection_events)
                    | Recycling Events
                .checkbox
                  label(for="categorySolidWasteWastemobile" title="Wastemobile")
                    input(type="checkbox" id="categorySolidWasteWastemobile" name="categorySolidWasteWastemobile" checked=row.swd_wastemobile)
                    | Wastemobile
              .checkbox
                label(for="categoryRural" title="Rural")
                  input(type="checkbox" id="categoryRural" name="categoryRural" checked=row.rural)
                  | Rural
              .checkbox
                label(for="categorySafety" title="Safety")
                  input(type="checkbox" id="categorySafety" name="categorySafety" checked=row.safety)
                  | Safety
              .checkbox
                label(for="categorySheriff" title="Sheriff")
                  input(type="checkbox" id="categorySheriff" name="categorySheriff" checked=row.sheriff)
                  | Sheriff
              .checkbox
                label(for="categorySocialServices" title="Social Services")
                  input(type="checkbox" id="categorySocialServices" name="categorySocialServices" checked=row.socialservices)
                  | Social Services
              .checkbox
                label(for="categoryTransportation" title="Transportation")
                  input(type="checkbox" id="categoryTransportation" name="categoryTransportation" checked=row.transportation)
                  | Transportation
              div(style="margin-left: 40px")
                .checkbox
                  label(for="categoryAirport" title="Airport")
                    input(type="checkbox" id="categoryAirport" name="categoryAirport" checked=row.airport)
                    | Airport
                .checkbox
                  label(for="categoryFleetAuctions" title="Fleet Auctions")
                    input(type="checkbox" id="categoryFleetAuctions" name="categoryFleetAuctions" checked=row.fleet_auctions)
                    | Fleet Auctions
                .checkbox
                  label(for="categoryMetro" title="Metro")
                    input(type="checkbox" id="categoryMetro" name="categoryMetro" checked=row.metro)
                    | Metro                      
                .checkbox
                  label(for="categoryRoads" title="Roads")
                    input(type="checkbox" id="categoryRoads" name="categoryRoads" checked=row.roads)
                    | Roads
                .checkbox
                  label(for="categoryWaterTaxi" title="Water Taxi")
                    input(type="checkbox" id="categoryWaterTaxi" name="categoryWaterTaxi" checked=row.water_taxi)
                    | Water Taxi
              .checkbox
                label(for="categoryVolunteer" title="Volunteer")
                  input(type="checkbox" id="categoryVolunteer" name="categoryVolunteer" checked=row.volunteer)
                  | Volunteer
              //.checkbox
                label(for="categoryTAC" title="TAC")
                  input(type="checkbox" id="categoryTAC" name="categoryTAC")
                  | TAC                    
      button.btn.btn-primary(type="submit") Update calendar
block append footer
  script(type="text/javascript" src="/moment/min/moment.min.js")
  script(type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
  script(type="text/javascript" src="/trumbowyg/dist/trumbowyg.min.js")
  script(type="text/javascript" src="/bootstrap-validator/dist/validator.min.js")
  script.
    $(function () {
      $('#startTimeDate').datetimepicker({
          icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down"
        },
          defaultDate: '#{row.start_time}'
      });
      $('#endTimeDate').datetimepicker({
          icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down"
        },
          defaultDate: '#{row.end_time}'
      });
      $('#eventDescription').trumbowyg({
        removeformatPasted: true
      });
    });

